* {
  margin: 0;
  padding: 0;
}
.tile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.tile-wrapper:hover {
  background-color: lightblue;
}
.pokemon-sprite {
  max-width: 128px;
  max-height: 128px;
}

.pokemon-name {
  color: #2769be;
}

.pokemon-number {
  color: #737373;
}
