* {
  margin: 0;
  padding: 0;
}
.tile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.tile_wrapper:hover {
  background-color: lightblue;
}
.pokemon_sprite {
  max-width: 128px;
  max-height: 128px;
}

.pokemon_name {
  color: #2769be;
}

.pokemon_number {
  color: #737373;
}
